body {
  font-display: swap;
  font-family: 'Eczar', sans-serif;
}

.blockquote {
  display: flex;
  flex-direction: column;
  font-size: 50px;
}

.text {
  font-size: 16px;
  text-align: center;
}

.text,
.author,
.flex {
  margin-top: -35px;
}
.title , .quote {
  font-family: 'Righteous', cursive;
}
.title {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  padding: 0 8px 5px -8px;
  width: 100%;
}

.author {
  font-size: 15px;
  font-style: italic;
  align-self: flex-end;
}

.quote {
  margin-left: 45%;
  font-size: 80px;
  font-weight: 600;
}

.footer {
  position: sticky;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.width {
  width: 80%;
}

@media screen and (min-width: 600px) {
  body {
    margin-top: 50%;
  }

  .width {
    width: 50%;
  }
}
